/* Owl Glow */
.owl-icon{
    -fx-effect: dropshadow(gaussian,#b06cff,30,0.8,0,0);
}

/* Login Panel */
.login-box{

    -fx-background-color: rgba(0,0,0,0.35);
    -fx-padding: 40;

    -fx-border-color: #a96cff;
    -fx-border-width: 2;
    -fx-border-radius: 15;

    -fx-background-radius: 15;

    -fx-effect: dropshadow(gaussian,#a96cff,35,0.7,0,0);

}

/* Text Fields */

.input-field{

    -fx-background-color: transparent;
    -fx-border-color: #8a6cff;

    -fx-text-fill: white;

}

/* Sign Button */

.sign-button{

    -fx-background-color: transparent;
    -fx-border-color: #a96cff;

    -fx-border-width: 2;
    -fx-text-fill: white;

}

.sign-button:hover{

    -fx-background-color: linear-gradient(to right,#7a5cff,#b06cff);

}

/* Title */

.title-text{

    -fx-font-size: 28;
    -fx-text-fill: white;

}